/* --- Imports (Schriftarten) --- */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* --- HTML OBJECTS --- */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px; /* Footer Höhe +20px */
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #8c96ab;
  text-decoration: none;
}

/* --- CLASSES --- */

/**
 *  Navbar
 *
 *Schriftart
 *Farbe background und hover (navbar und footer)
***/

.navbar-brand {
  font-family: "Sacramento" !important;
  font-size: 35px;
}

.navbar, footer {
  background-color: #3f4259;
}
.navbar *, footer a {
  color: #fff;
  font-family: "Montserrat";
}
.navbar a:hover, footer a:hover {
  color: #8c96ab;
}
.dropdown-menu * {
  color: #000;
}

/**
 *  Footer
 *
 *   Summe der line-heights = Footer height
 *
***/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px; /* Footer Höhe */
}
.footer-links { line-height: 50px; }
.footer-copyright {
  color: #222430;

}

/**
 *  Content Homepage
 *
***/

/*Quote auf Bild Homepage*/
.quote {
  font-family: "Sacramento";
  font-size: 4.2vw;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.quote-name {
  font-family: "Montserrat";
  font-size: 2vw;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
}

/*Text unter Bild*/
.text-welcome {
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
}

.text-introduction {
  font-family: "Sacramento";
  font-size: 50px;
  text-align: center;
}

/*Kategorien*/
.categories {
  margin-top: 20px;
  margin-bottom: 10px;
}


/**
 *  Content About-Seite
 *
 *Schriftarten und Größen
***/

.name-about {
  font-family: "Sacramento";
  font-size: 40px;
  text-align: center;
}

.name-about2 {
  font-family: "Montserrat";
  font-size: 18px;
  text-align: center;
}

.text-about3 {
  font-family: "Montserrat";
  font-size: 22px;
  text-align: center;
}

/* Text über mich*/
.about-me {
  font-family: "Montserrat";
  font-size: 15px;
}

.viel-spaß {
  font-family: "Sacramento" !important;
  font-size: 30px;
}

.funfacts-text{
  font-size: 22px
}

/*Carousel margin und position*/
.carousel {
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;
}


/**
 *  Content Galerie-Seite
 *
***/

/* Rand des Grids in der Galerie */
.galerie-grid {
  padding: 10px;
  margin-bottom: 10px;
}

/* Überschriften Kategorien Galerie */
.text-categories {
  font-family: "Montserrat";
  font-size: 35px;
  text-align: center;
}
